<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Terra Bank</title>
    <link rel="stylesheet" href="../../style/style.css">
</head>
<body>

    
    <section class="registroTerrabank">
        <h1>Regístrate hoy en Terra Bank</h1>
    </section>

    
    <section class="seccionRegistro">
        <div class="contenedorRegistro">
            <form id="formularioRegistroID" class="formularioRegistro">
                <h2>Ingrese sus datos</h2>

                <!-- <label for="nombre">Nombre</label> -->
                <input type="text" id="nombre" name="nombre" placeholder="Nombre(s)" required>

                <!-- <label for="apellido">Apellido</label> -->
                <input type="text" id="apellido" name="apellido" placeholder="Apellido(s)" required>

                <!-- <label for="email">Email</label> -->
                <input type="email" id="email" name="email" placeholder="Correo Electrónico" required>

                <!-- <label for="phone">Teléfono</label> -->
                <input type="tel" id="phone" name="phone" placeholder="Número de teléfono" required>

                <!-- <label for="address">Dirección</label> -->
                <input type="text" id="address" name="address" placeholder="Dirección de domicilio" required>

                <label for="fechaNacimiento">Fecha de nacimiento</label>
                <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>

                <label for="tipoCuenta">Tipo de cuenta</label>
                <select id="tipoCuenta" name="tipoCuenta" required>
                    <option value="personal">Persona</option>
                    <option value="business">Empresa</option>
                </select>

                <!-- <label for="password">Cree una contraseña</label> -->
                <input type="password" id="password" name="password" placeholder="Contraseña" required>

              
                <div class="terminos">
                    <input id="terminosCondiciones" type="checkbox" name="terminosCondiciones" required> 
                    <label for="terminosCondiciones">Acepto los términos y condiciones</label>

                </div>
               

                <!-- <div class="recaptchaPlaceholder">
                    [reCAPTCHA]
                </div> -->

                <button type="submit" class="botonRegistro">
                    Registrar
                </button>

                <a href="./login.html">
                    ¿Ya tienes cuenta?
                </a>

                <nav class="redes">
                    <a href="#">Facebook</a>
                    <a href="#">Twitter</a>
                    <a href="#">Instagram</a>
                </nav>
                
            </form>
        </div>
    </section>
    <footer class="copyFooter">
        <p>&copy; 2024 Terra Bank. Todos los derechos reservados.</p>
    </footer>
<script type="module" src="/controllers/controllersRegistro.js"></script>
</body>
</html>
