<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Contacto </title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>

    <header>

        <button class="registro">
            <a href="./auth/registro.html">Regístrate</a>
        </button>
        <button class="login">
            <a href="./auth/login.html">Log in</a>
        </button>

        <nav>
            <button> 
                <a href="">Ahorros</a>
            </button>
            <button> 
                <a href="">Creditos</a>
            </button>
            <button> 
                <a href="">Tarjetas de credito</a>
            </button>
            <button> 
                <a href="">Inversiones</a>
            </button>
        </nav>

        <img class="logo" 
        src="../img/logoTerraBank.png" alt="logoTerraBank">

    </header> 

    <main class="mainContacto">

        <section class="seccionContactanos">
            <h1 class="tituloContactanos"> Contactanos </h1>
        </section>

        <section class="seccionNumerosContacto">
            <div>
                <h3> Sede Principal</h3>
                <li>
                    Medellín +57 (604) 123 4567
                </li>
                <h3> Whatsapp Nacional </h3>
                <li>
                    3014770779
                </li>
            </div>
        </section>
        <button class="botonInicio"> <a href="../../index.html">Inicio</a>
        </button>
        
    </main>
    <footer class="footer">
        <p>&copy; 2024 Terra Bank. Todos los derechos reservados.</p>
    </footer>
</body>
</html>