<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas Frecuentes</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <header>

        <div class="contenedorBotonInicioRegistro">
            <!-- <button class="registro"> -->
            <a href="../pages/auth/registro.html">
                Regístrate
            </a>
            <!-- </button> -->
            <!-- <button class="login"> -->
            <a href="../pages/auth/login.html">
                Log in
            </a>
            <!-- </button> -->
        </div>

        <nav class="contenedorMenuHeader">
            <a href="../../index.html">Inicio</a>
            <!-- <button> -->
            <a href="">Ahorros</a>
            <!-- </button> -->
            <!-- <button> -->
            <a href="">Créditos</a>
            <!-- </button> -->
            <!-- <button> -->
            <a href="">Tarjetas de crédito</a>
            <!-- </button> -->
            <!-- <button> -->
            <a href="">Inversiones</a>
            <!-- </button> -->
        </nav>

        <section>
            <img class="logo" src="../img/logoTerraBank.png" alt="logoTerraBank">
        </section>


    </header>
    <div class="principalPreguntas">
        <h1>Preguntas Frecuentes</h1>

        <div class="divPreguntasFrecuentes" id="divPreguntasFrecuentesUno">
            <img class="flecha" id="flechaSeccionUnoID" src="../img/arrowUp.png" alt="flecha">
            <h2>¿Cómo puedo abrir una cuenta?</h2>
            <section class="contenedorRespuesta" id="contenedorRespuestaUnoID">
                <p>Para abrir una cuenta, puedes visitar cualquiera de nuestras sucursales o hacerlo en línea a través
                    de nuestro sitio web.
                </p>
            </section>
        </div>

        <div class="divPreguntasFrecuentes" id="divPreguntasFrecuentesDos">
            <img class="flecha" id="flechaSeccionDosID" src="../img/arrowUp.png" alt="flecha">
            <h2>¿Cuánto dinero me pueden prestar?</h2>
            <section class="contenedorRespuesta" id="contenedorRespuestaDosID">
                <p>La cantidad de dinero que te pueden prestar depende de varios factores, incluyendo el tipo de
                    préstamo, tu perfil financiero, y las políticas del prestamista. 
                </p>
            </section>
        </div>

        <div class="divPreguntasFrecuentes" id="divPreguntasFrecuentesTres">
            <img class="flecha" id="flechaSeccionTresID" src="../img/arrowUp.png" alt="flecha">
            <h2>¿Qué tipos de interés tendrá mi crédito?</h2>
            <section class="contenedorRespuesta" id="contenedorRespuestaTresID">
                <p>El tipo de interés de un crédito en nuestro banco puede variar dependiendo de varios factores:
                    Tipo de Interés Fijo.
                    Tipo de Interés Variable.
                    Tipo de Interés Mixto.
                    Tipo de Interés Nominal.
                </p>
            </section>
        </div>
    </div>
    <footer class="footer">
        <p>
            &copy; 2024 Terra Bank. Todos los derechos reservados.
        </p>
    </footer>
    <script src="../js/scriptPreguntas.js"></script>
</body>

</html>